@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Montserrat:wght@700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "DM Sans", sans-serif;
  font-weight: 700;
  @apply text-gray-500;
}

.flex-between {
  @apply flex items-center justify-between;
}

.overlay {
  @apply absolute z-30 flex h-[380px] w-[450px] flex-col items-center justify-center whitespace-normal bg-primary-500 p-5 text-center text-white opacity-0 transition duration-500 hover:opacity-90;
}

.input {
  @apply mt-5 w-full rounded-lg bg-primary-300 px-5 py-3 placeholder-white;
}
